<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateAccountActivity"
            android:label="Create Account"
            android:theme="@android:style/Theme.Dialog"/>

        <activity
            android:name=".CreateSocialAccountActivity"
            android:label="Create Account"
            android:theme="@android:style/Theme.Dialog"/>

        <activity
            android:name=".ExploreActivity"
            android:label="Explore Page"/>

        <activity
            android:name=".MusicActivity"
            android:label="Music Detail"/>

        <activity
            android:name=".MainActivity"
            android:label="Login Page"/>

        <activity
            android:name=".MyPageActivity"
            android:label="My Page"/>

        <service android:name=".ForcedTerminationService"
            android:stopWithTask="false" />

        <activity android:name=".RecordActivity"/>
        <activity android:name=".SavePopupActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".ListActivity"/>
        <activity android:name=".ServerFileListActivity"/>
        <activity android:name=".PlayActivity"/>
        <activity android:name=".myproject.MyProjectActivity"/>
        <activity android:name=".myproject.ProjectDetailActivity"/>



    </application>

</manifest>